.box {
  margin: .5rem auto;
  border: 1px solid #ffffff;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 0.2rem;
  border-color: HSL(0, 0%, 87.8%);
  background-color: HSL(0, 0%, 100%);
  max-width: 640px;
}

.page-content > .box {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.page-content > .box:first-child,
.page-content > .row:first-child > .column > .box:first-child {
  margin-top: 0.5rem;
}

.box-header {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.6rem;
  padding: 1rem;
}

.is-smallscreen .box-header {
  padding: 1.2rem 0.8rem;
}

.box-title {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.box-controls {
  display: flex;
  flex-direction: row-reverse;
}

.box-content > p {
  margin: 0.6rem 1.2rem;
}

.is-smallscreen .box-content > p {
  margin: 0.6rem 0.8rem;
}

.box-content a {
  text-decoration: none;
}

.box-content a:hover {
  text-decoration: underline;
}

.box-content > ul {
  margin: 1.2rem0;
  padding-left: 2.25rem;
}

.box-content ul:first-child {
  margin-top: 0;
}

.box-content ul > li {
  padding: 0.6rem 0;
}
