.button-group {
  display: flex;
  width: 100%;
}

.button-group > .button + .button {
  margin-left: .25rem;
}

.box-content > .button-group {
  box-sizing: border-box;
  padding: .5rem 1rem;
}

.button-group.align-center {
  justify-content: center;
}

.button-group.align-right {
  justify-content: flex-end;
}

.button-group.justify-between {
  justify-content: space-between;
}

.button-group.justify-around {
  justify-content: space-around;
}
