<!-- SCHEDULING_NOTICE -->
<dialog id="scheduling_notice" class="modal">
  <div class="modal-overlay" onclick="ev.publish('modal:close', { dialog: scheduling_notice });"></div>
  <div class="modal-shell">
    <header class="modal-header">
      <div class="modal-header-row">
        <h3 class="modal-title">Otomatisasi Belum Diaktifkan</h3>
      </div>
    </header>
    <footer class="modal-footer">
      <div class="modal-footer-left">
        <button type="button" class="button secondary" onclick="ev.publish('modal:close', { dialog: scheduling_notice });">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-close-24px.svg" ?>
          </span>
          <span class="text">Abaikan</span>
        </button>
      </div>
      <div class="modal-footer-right">
        <button type="button" class="button primary" onclick="checkScheduling.activateScheduling();">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/update-24px.svg" ?>
          </span>
          <span class="text">Aktifkan Otomatisasi</span>
        </button>
      </div>
    </footer>
  </div>
</dialog>
<!-- /SCHEDULING_NOTICE -->