<!-- DS3231_ERROR_NOTICE -->
<dialog id="ds3231_error_notice" class="modal">
  <div class="modal-overlay" onclick="ev.publish('modal:close', { dialog: ds3231_error_notice });"></div>
  <div class="modal-shell">
    <header class="modal-header">
      <div class="modal-header-row">
        <h3 class="modal-title">Modul Jam Tidak Berjalan</h3>
      </div>
    </header>
    <div class="modal-content">
      <p>Terdapat kesalahan pada modul jam. Kesalahan ini dapat mengakibatkan pergeseran jam pada alat Awqot. Berikut kode kesalahan:</p>
      <pre
        style="
          padding: .75rem;
          margin: .75rem;
          background-color: #eee;
          border-radius: 4px;
        "
      ><code id="ds3231_error_notice_data" style="font-size: .8rem;"></code></pre>
      <p>Silahkan hubungi teknisi beserta kode diatas agar dapat ditindak lanjuti.</p>
    </div>
    <footer class="modal-footer">
      <div class="modal-footer-left">
        <button type="button" class="button secondary" onclick="ev.publish('modal:close', { dialog: ds3231_error_notice });">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-close-24px.svg" ?>
          </span>
          <span class="text">Abaikan</span>
        </button>
      </div>
      <div class="modal-footer-right">
        <a id="ds3231_error_notice_whatsapp" href="https://wa.me/6282147824783" class="button primary" target="_blank">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/chat-24px.svg" ?>
          </span>
          <span class="text">Hubungi via Whatsapp</span>
        </a>
      </div>
    </footer>
  </div>
</dialog>
<!-- /DS3231_ERROR_NOTICE -->