.list-view {
  list-style: none;
  max-width: 640px;
  margin: auto;
  padding-left : 0;
  background-color: #FFFFFF;
  border-radius: .4rem;
  border: 1px solid #DDDDDD;
}

.list-view:empty {
  display: none;
}

.page-content .list-view,
.modal-content .list-view {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.box-content > ul.list-view {
  padding-left: 0px;
}

.modal-content:not(:last-child) .list-view {
  border-bottom: none;
}

.modal-content .list-view:first-child {
  border-top: none;
}

.modal-content .list-view-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.list-view-item + .list-view-item {
  border-top: 1px solid #DDDDDD;
}

.list-view-item:last-child {
  border-bottom: 1px solid #DDDDDD;
}

.list-view.selectable .list-view-item {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.box-content ul > li.list-view-item {
  padding: 0px;
}

.list-view.selectable .list-view-item:hover {
  background-color: rgba(0, 0, 0, .05);
}

.list-view.selectable .list-view-item.selected {
  background-color: rgba(0, 0, 0, .1);
}

.list-view-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-view-item-title {
  text-decoration: none;
  flex: 1;
  display: flex;
  align-items: center;
  height: 2rem;
  color: #000000;
  font-size: 1.125rem;
  overflow: hidden;
}

.page-content .list-view-item-title {
  padding: 0 .75rem;
}

.list-view-item-title:focus {
  outline: none;
}

.list-view-item-row:last-child .list-view-item-title {
  height: 3.5rem;
}

.modal-content .list-view-item-row .list-view-item-title {
  font-size: 1rem;
  margin: 0 .75rem;
}

.list-view-item-subtitle {
  padding-right: .75rem;
}

@media (min-width: 640px) {
  .page-content .list-view-item {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
  }

  .page-content .list-view {
    border-radius: .4rem;
  }

  .list-view-item:first-child {
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
  }

  .list-view-item:last-child {
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
  }
}
