<!-- MATERI_PLAYER_PROMPT -->
<dialog id="materi_player_prompt" class="modal">
  <div class="modal-overlay"></div>
  <form class="modal-shell" method="post">
    <div class="modal-content">
      <input type="hidden" name="action" value="audios_play">
      <p>Jalankan materi di perangkat?</p>
    </div>
    <footer class="modal-footer">
      <div class="modal-footer-left">
        <button type="button" class="button secondary" onclick="ev.publish('modal:close', { dialog: materi_player_prompt });">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-close-24px.svg" ?>
          </span>
          <span class="text">Batal</span>
        </button>
      </div>
      <div class="modal-footer-right">
        <button type="button" class="button secondary" onclick="ev.publish('materi_player:play_on_device');">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-smartphone-24px.svg" ?>
          </span>
          <span class="text">Smartphone</span>
        </button>
        <button type="button" class="button primary" onclick="ev.publish('modal:open', { dialog: materi_player_speaker_prompt });">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-speaker-24px.svg" ?>
          </span>
          <span class="text">Awqot</span>
        </button>
      </div>
    </footer>
  </form>
</dialog>
<!-- /MATERI_PLAYER_PROMPT -->

<!-- MATERI_PLAYER_PROMPT -->
<dialog id="materi_player_speaker_prompt" class="modal">
  <div class="modal-overlay"></div>
  <form class="modal-shell" method="post">
    <div class="modal-content">
      <p>Nyalakan Speaker?</p>
      <ul class="list-view">
        <li class="list-view-item">
          <div class="list-view-item-row">
            <div class="list-view-item-title">
              <span class="flex-ellipsis">B1 (Mixer)</span>
            </div>
            <button
              type="button"
              class="button small secondary"
              onclick="ev.publish('materi_player:speaker_switch', { speaker: 0, condition: 'on' });"
            >
              <span class="icon">
                <?php include __DIR__ . "/../static/icons/round-volume_up-24px.svg" ?>
              </span>
            </button>
            <button
              type="button"
              class="button small secondary"
              onclick="ev.publish('materi_player:speaker_switch', { speaker: 0, condition: 'off' });"
            >
              <span class="icon">
                <?php include __DIR__ . "/../static/icons/round-volume_off-24px.svg" ?>
              </span>
            </button>
          </div>
        </li>
        <li class="list-view-item">
          <div class="list-view-item-row">
            <div class="list-view-item-title">
              <span class="flex-ellipsis">B2 (Ampli 1)</span>
            </div>
            <button
              type="button"
              class="button small secondary"
              onclick="ev.publish('materi_player:speaker_switch', { speaker: 1, condition: 'on' });"
            >
              <span class="icon">
                <?php include __DIR__ . "/../static/icons/round-volume_up-24px.svg" ?>
              </span>
            </button>
            <button
              type="button"
              class="button small secondary"
              onclick="ev.publish('materi_player:speaker_switch', { speaker: 1, condition: 'off' });"
            >
              <span class="icon">
                <?php include __DIR__ . "/../static/icons/round-volume_off-24px.svg" ?>
              </span>
            </button>
          </div>
        </li>
        <li class="list-view-item">
          <div class="list-view-item-row">
            <div class="list-view-item-title">
              <span class="flex-ellipsis">B3 (Ampli 2)</span>
            </div>
            <button
              type="button"
              class="button small secondary"
              onclick="ev.publish('materi_player:speaker_switch', { speaker: 2, condition: 'on' });"
            >
              <span class="icon">
                <?php include __DIR__ . "/../static/icons/round-volume_up-24px.svg" ?>
              </span>
            </button>
            <button
              type="button"
              class="button small secondary"
              onclick="ev.publish('materi_player:speaker_switch', { speaker: 2, condition: 'off' });"
            >
              <span class="icon">
                <?php include __DIR__ . "/../static/icons/round-volume_off-24px.svg" ?>
              </span>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <footer class="modal-footer">
      <div class="modal-footer-left">
        <button type="button" class="button secondary" onclick="ev.publish('modal:close', { dialog: materi_player_speaker_prompt });">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-close-24px.svg" ?>
          </span>
          <span class="text">Tutup</span>
        </button>
      </div>
      <div class="modal-footer-right">
        <button type="button" class="button primary" onclick="ev.publish('materi_player:play_on_awqot');">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-play_arrow-24px.svg" ?>
          </span>
          <span class="text">Putar Sekarang</span>
        </button>
      </div>
    </footer>
  </form>
</dialog>
<!-- /MATERI_PLAYER_PROMPT -->

<!-- AUDIOS_PLAYER -->
<dialog id="materi_player" class="modal">
  <div class="modal-overlay"></div>
  <div class="modal-shell">
    <div class="modal-content">
      <div class="field">
        <div class="field-input" style="align-items: center;">
          <input id="materi_player_slider" type="range" min="0" max="100" value="0">
          <span style="display: block; margin-left: .5rem;">
            <span id="materi_player_currenttime"></span>/
            <span id="materi_player_duration"></span>
          </span>
        </div>
      </div>
    </div>
    <footer class="modal-footer">
      <div class="modal-footer-left"></div>
      <div class="modal-footer-right">
        <button type="button" class="button danger" onclick="ev.publish('materi_player:stop')">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-stop-24px.svg" ?>
          </span>
          <span class="text">Berhenti</span>
        </button>
      </div>
    </footer>
  </div>
</dialog>
<!-- /AUDIOS_PLAYER -->
