<!-- REGISTER_NOTICE -->
<dialog id="register_notice" class="modal">
  <div class="modal-overlay" onclick="ev.publish('modal:close', { dialog: register_notice });"></div>
  <div class="modal-shell">
    <header class="modal-header">
      <div class="modal-header-row">
        <h3 class="modal-title">Assalamualaikum Wr. Wb.</h3>
      </div>
    </header>
    <div class="modal-content">
      <p>Selamat datang di aplikasi Awqot. Sebelum menggunakan aplikasi ini, silahkan melakukan pendataan pengguna terlebih dahulu.</p>
    </div>
    <footer class="modal-footer">
      <div class="modal-footer-left">
        <button type="button" class="button secondary" onclick="ev.publish('modal:close', { dialog: register_notice });">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-close-24px.svg" ?>
          </span>
          <span class="text">Batal</span>
        </button>
      </div>
      <div class="modal-footer-right">
        <a href="/pages/register.php" class="button primary">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-assignment-24px.svg" ?>
          </span>
          <span class="text">Isi Data Pengguna</span>
        </a>
      </div>
    </footer>
  </div>
</dialog>
<!-- /REGISTER_NOTICE -->