.sidebar-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .25);
  z-index: 10;
}

.sidebar-list {
  list-style: none;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  transition-duration: 300ms;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 20;
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2),
    0 10px 14px 1px rgba(0, 0, 0, .14),
    0 4px 18px 3px rgba(0, 0, 0, .12);
}

#sidebar:not(.sidebar-visible) .sidebar-list {
  transform: translateX(-300px);
}

.sidebar-separator {
  padding: .75rem;
  background-color: #CFD8DC;
  color: #455A64;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 500;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  height: 4rem;
  color: #424242;
  text-decoration: none;
}

.sidebar-item a:hover {
  background-color: #F2F2F2;
}

.sidebar-item a:active,
.sidebar-item a:focus {
  outline: none;
}

.sidebar-item.active a {
  background: rgb(245, 245, 245);
  background: linear-gradient(100deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(240, 240, 240, 1) 45%,
    rgba(235, 235, 235, 1) 100%);
}

.sidebar-item .icon {
  padding: 0 .75rem;
}

.sidebar-item .icon>svg>path:last-child {
  fill: #424242;
}

.sidebar-item.active .icon>svg>path:last-child {
  fill: #212121;
}

.sidebar-item .text {
  color: #424242;
  font-weight: 400;
}

.sidebar-item.active .text {
  color: #212121;
}
