.fab {
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  color: #FFFFFF;
  background-color: hsl(128, 64%, 36%);
  background-color: #1B5E20;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
  0 3px 14px 2px rgba(0,0,0,0.12),
  0 5px 5px -3px rgba(0,0,0,0.2);
}

.fab:hover,
.fab:focus {
  outline: none;
  background-color: #212121;
}

.fab:active {
  background-color: #424242;
  transform: scale(.96);
  box-shadow: 0 4px 9px 1px rgba(0,0,0,0.14),
  0 2px 7px 1px rgba(0,0,0,0.12),
  0 2px 2px -1px rgba(0,0,0,0.2);
}

.fab.secondary {
  bottom: 5.75rem;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
  background-color: #212121;
}

@media (min-width: 640px) {
  .fab {
    right: calc(calc(50% - 320px) - 5rem);
  }
  .fab.secondary {
    right: calc(calc(50% - 320px) - 4.75rem);
  }
}
