.field {
  flex: 1;
}

.modal-header-row > .field {
  padding: 0 .75rem;
}

.modal-content .field {
  margin: 1rem .75rem;
}

.field-label {
  color: #424242;
  font-size: .95rem;
  font-weight: 500;
  text-transform: uppercase;
}

.field-input {
  display: flex;
}

.field-input input {
  display: block;
  flex: 1;
  min-width: 0;
  padding: .75rem;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, .15);
}

.modal-header-row > .field > .field-input input {
  padding: .5rem .75rem;
}

.field-input > *:first-child {
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

.field-input > *:last-child {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.field-input-addons {
  user-select: none;
  -moz-user-select: none;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .075);
  border-top: 1px solid rgba(0, 0, 0, .15);
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  color: #424242;
}

.field-input-addons:first-child {
  border-left: 1px solid rgba(0, 0, 0, .15);
}

.field-input-addons:last-child {
  border-right: 1px solid rgba(0, 0, 0, .15);
}

.field-input .input-checkbox-group.horizontal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.field-input .input-checkbox-group .input-checkbox {
  display: flex;
  align-items: center;
  padding: 1rem .5rem;
}

.field-input .input-checkbox-group .input-checkbox input {
  display: block;
  min-width: 1rem;
}

.field-input .input-checkbox-group .input-checkbox-label {
  user-select: none;
  display: block;
  margin-left: 8px;
  white-space: nowrap;
}
