.page {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #F2F2F2;
}

.page-header {
  user-select: none;
  -moz-user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #388E3C;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 640px;
  margin: auto;
}

.page-header-left {
  display: flex;
  align-items: center;
  height: 3.5rem;
}

.page-header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.5rem;
}

.page-header-tab {
  list-style: none;
  display: flex;
  width: 100%;
  height: 3rem;
  margin: 0;
  padding-left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #FFFFFF;
}

.page-header-tab-item > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  text-decoration: none;
  color: #000000;
}

.page-header-tab-item > a:focus {
  outline: none;
}

.page-header-tab.primary {
  background-color: #388E3C;
}

.primary > .page-header-tab-item {
  background-color: #FFFFFF;
}

.primary > .page-header-tab-item > a {
  background-color: #388E3C;
  color: #FFFFFF;
}

.primary > .page-header-tab-item > a:hover {
  background-color: #2E7D32;
}

.primary > .page-header-tab-item > a:active {
  background-color: #1B5E20;
}

.primary > .page-header-tab-item.activated {
  background-color: #1B5E20;
}

.primary > .page-header-tab-item.activated > a {
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  background-color: #FFFFFF;
  color: #1B5E20;
}

.primary > .page-header-tab-item.activated + .page-header-tab-item > a {
  border-bottom-left-radius: .4rem;
}

.primary > .page-header-tab-item.is-preceding-active > a {
  border-bottom-right-radius: .4rem;
}

.page-header-tab.secondary {
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
}

.secondary > .page-header-tab-item {
  border-top: .2rem solid rgba(0, 0, 0, 0);
  border-bottom: .2rem solid rgba(0, 0, 0, 0);
}

.secondary > .page-header-tab-item:hover,
.secondary > .page-header-tab-item > a:hover {
  border-top-color: rgba(0, 0, 0, .05);
  border-bottom-color: rgba(0, 0, 0, .05);
  background-color: rgba(0, 0, 0, .05);
}

.secondary > .page-header-tab-item:active,
.secondary > .page-header-tab-item > a:active {
  border-top-color: rgba(0, 0, 0, .1);
  border-bottom-color: rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .1);
}

.secondary > .page-header-tab-item.activated {
  border-bottom-color: #000000;
}

.page-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #FFFFFF;
}

.page-title:first-child {
  margin-left: .75rem;
}

@media (min-width: 640px) {
  .page-content {
    padding: 1.5rem 0;
  }
}
