.modal-card {
  width: 98%;
  max-width: 480px;
}

.modal-card-foot, .modal-card-head {
  padding: .8rem;
}

.modal-card-title {
  font-size: 1.3rem;
}

.modal-card-body {
  padding: .8rem;
}

.modal-card-body:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-card-body:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal-card-body hr {
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.fabutton {
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 100%;
  color: #FFFFFF;
  font-size: 1.25rem;
  background-color: hsl(128, 64%, 36%);
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
  0 3px 14px 2px rgba(0,0,0,0.12),
  0 5px 5px -3px rgba(0,0,0,0.2);
}

.fabutton.secondary {
  bottom: 5rem;
  right: 1.375rem;
  height: 2.75rem;
  width: 2.75rem;
  font-size: 1.125rem;
  background-color: hsl(128, 16%, 42%);
}

