html, body {
  font-family: Fira Sans, 'Open Sans', sans-serif;
  font-size: 14px;
  color: #212121;
}

body.loaded {
  background-color: #F2F2F2;
}

button {
  user-select: none;
  -moz-user-select: none;
}

dialog:not([open]) {
  display: none;
}

hr {
  margin: 1rem;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, .25);
}

img {
  user-select: none;
  -moz-user-select: none;
}
