/* TRANSITIOn */

.fade-enter-active, .fade-leave-active {
  transition: opacity 300ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.list-item,
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 300ms;
}
.list-leave-active {
  position: absolute;
}
.list-enter, .list-leave-to {
  opacity: 0;
}
.list-enter {
  transform: translateY(2rem);
}
.list-leave-to {
  opacity: 0;
  transform: translateY(-2rem);
}
